:root {
  --text: #eae9e9;
  --background: #170e0e;
  --primary: #d79a9a;
  --secondary: #8e1f1f;
  --accent: #e71a1a;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 1.5rem;
}

#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

#products img{
    min-width: 200px;
    object-fit: cover;
    image-rendering: pixelated;
}

