:root {
  --text: #eae9e9;
  --background: #170e0e;
  --primary: #d79a9a;
  --secondary: #8e1f1f;
  --accent: #e71a1a;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 1.5rem;
}

#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.product{
    width: 300px;
    
    padding: 1rem;
   
    margin: 1rem;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.product .product-preview{
    image-rendering: pixelated;
    width: 400px; 
    height: 400px;
    margin:0 auto;
    background-size: 6000%; /* 60 frames * 100% */
    animation: like-gif steps(59) 5s infinite both; /* 59 (60 - 1) frames in 5s */
    background-image: url();
}

@keyframes like-gif {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}