@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
:root {
  --text: #eae9e9;
  --background: #170e0e;
  --primary: #d79a9a;
  --secondary: #8e1f1f;
  --accent: #e71a1a;
}

body {
  background-color: var(--background);
  color: var(--text);
  width: 80%;
  margin: auto;

  font-family: "Domine", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--text);
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
}

.product {
  width: 12em;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 0 1rem;

  grid-template-areas:
    "image image"
    "title price";
}

.product-preview {
  grid-area: image;
  image-rendering: pixelated;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  background-size: 6000%; /* 60 frames * 100% */
  animation: like-gif steps(59) 5s infinite both; /* 59 (60 - 1) frames in 5s */
  background-image: url();
}

.product h2 {
  grid-area: title;
  font-family: Domine, serif;
  font-size: 1em;
  margin: 0;
}

.product p {
  grid-area: price;
  margin: 0;
  text-align: right;
}

@keyframes like-gif {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
